@charset "UTF-8";



.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: -1;
}



.midasi {
	font-family: 会員登録;
	font-size: 50px;
	text-align: center;
  padding-top: 150px;
}

h1 {
  position: relative;
  color: #554629;
  
}



/*中央揃えにする*/
.center {
	text-align: center;
}

  /*リセットcss↓*/
html {
  overflow-y: scroll;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  
}
caption,th {
  text-align: left;
}
q:before,q:after {
  content: '';
}
object,embed {
  vertical-align: top;
}
hr,legend {
  display: none;
}
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
}
img,abbr,acronym,fieldset {
  border: 0;
}
li {
  list-style-type: none;
}
sup {
  vertical-align: super;
  font-size: 0.5em;
}
img {
  vertical-align: top;
}
i {
  font-style: normal;
}
/*----リセットcss*----/

/*デザインcss↓*/
.box_con {
  max-width: 900px;
  margin: 0  auto;
  
}
@media only screen and (max-width: 768px) {
  .box_con {
    width: 95%;
  }
}
.box_con form {
  width: 100%;
  
}
.box_con form table {
  width: 100%;
  
}
.box_con form table tr {
  position: relative;
  
}
/*点線*/
.box_con form table tr:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  border-bottom: dotted #ffffff 1px;
}
/*お名前とか↓*/
.box_con form table tr th {
  width: 30%;
  font-weight: normal;
  padding: 1em .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #e49e61;
}
.box_con p{
  color: #030101;
}
/*画面小↓*/
@media only screen and (max-width: 768px) {
  .box_con form table tr th {
    text-align: center;
    width: 100%;
    display: block;
    background: #97ae88;
    padding: .8em .2em;
    color: #fff;
  }
}
/*入力テーブル*/
.box_con form table tr td {
  padding: 1em .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffffce;
  caret-color: #ec922b;
  border: 2px solid rgb(189, 189, 189);
}
@media only screen and (max-width: 768px) {
  .box_con form table tr td {
    padding: 1.5em .5em;
    display: block;
    width: 100%;
  }
}
.box_con form table tr .box_br {
  display: block;
  
}
.box_con form table tr select {
  border: 1px solid #97ae88;
}
.box_con form table tr label input {
  cursor: pointer;
  display: none;
  vertical-align: middle;
}
.box_con form table tr .radio02-input + label {
  padding-left: 23px;
  margin-right: 20px;
  position: relative;
}
.box_con form table tr .radio02-input + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #999;
  border-radius: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.box_con form table tr .radio02-input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 3px;
  width: 12px;
  height: 12px;
  background: #97ae88;
  border-radius: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.box_con form table tr select, .box_con form table tr input, .box_con form table tr textarea {
  width: 100%;
  height: 3em;
  padding: .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.box_con form table tr textarea {
  height: 10em;
  
}

/*--------------------------------------------------
ヘッダー
--------------------------------------------------*/
#header{
  position: fixed; /*ポジションを固定する*/
    display: flex;
    height: 90px;
    background-color: dimgray;
    border: double 5px ;
    padding-top: 5px;
    box-sizing: border-box;
    justify-content:space-between;
    align-items: center;
    margin:0 auto;
	justify-content: center;
  z-index: +1;
  width: 100%;
}
  

 
#header ul{
    display: flex;
    padding:01px 0;
}
#header li{
    list-style: none;
    font-family: "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
    font-weight: bold;
	font-size: 0.9rem; 
}
#header li a{
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;

    
}
#header li a:hover{
    opacity: 0.7;
    
}
.gourmmy{
	font-family: Gourmmy;
	text-align: left;
	float: left;
	margin-right: 81px;
}
