@charset "UTF-8";





.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}





body {
  background-image: url("");
  background-repeat:  no-repeat;
  background-size: cover;      
}


/* 見出し画像 */
.fadeIn{
    animation-name:fadeInAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
    width: 65%;
  

    }


    p.img_center{
    padding-top: 0;
    text-align: center;
    


    }

    @keyframes fadeInAnime{
      from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
    }



/* 背景画像にグラデオーバーレイ 
.colorchangeimg_bg {
    height: 250px;
    margin: 30px 0;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.705) 0%, rgba(255, 255, 255, 0.699) 100%),
    url(https://i.pinimg.com/originals/b7/53/80/b75380798fbf2a188fd650e26dc231ff.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
  }
  .colorchangeimg_bg{
    content: '';
    display: block;
    padding-top: 50%;
    background-repeat: repeat;
  }

*/

/*--------------------------------------------------
ヘッダー
--------------------------------------------------*/
/*--------------------------------------------------
ヘッダー  auto 100px auto
--------------------------------------------------*/
#header{
  position: fixed; /*ポジションを固定する*/
    display: flex;
    height: 90px;
    background-color: dimgray;
    border: double 5px ;
    padding-top: 5px;
    box-sizing: border-box;
    justify-content:space-between;
    align-items: center;
    margin:0 auto;
	justify-content: center;
  z-index: +1;
  width: 100%;
}
  

 
#header ul{
    display: flex;
    padding:01px 0;
}
#header li{
    list-style: none;
    font-family: "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
    font-weight: bold;
	font-size: 0.9rem; 
}
#header li a{
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;

    
}
#header li a:hover{
    opacity: 0.7;
    
}
.gourmmy{
	font-family: Gourmmy;
	text-align: left;
	float: left;
	margin-right: 81px;
}


.imgzya img{
 width: 170px;
  padding: 20px;
  margin: 0 auto;
}
.imgzya{
  text-align: center;
}

html,
body {
  min-height: 100vh;
  margin: 0;
}


.double{
	width:100%;
	text-align:center;
}
.double h2{
	position:relative;
	display:inline-block;
  font-size:4em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: rgb(121, 150, 110);
	text-shadow: 0.02em 0.02em 0.02em rgb(95, 33, 4);
  
}
.double h2:before, .double h2:after{
	content:"";
	display:block;
	width:230px;
	height:4px;
	border-top:1px solid #111;
	border-bottom:1px solid #111;
	position:absolute;
	top:50%;
	margin-top:-2px;
}
.double h2:before{left:-224px;}
.double h2:after{right:-224px;}



#kate h3{
  font-size: 3.4rem;
  font-style: italic;
  letter-spacing: .1em;
  color: rgb(235, 152, 57);
  text-shadow: -3px 2px 0 #000;
  text-align: center;
  padding-bottom: 50px;
}


div.box{
  background: rgba(255, 255, 255, 0.753);
border-radius: 16px;
padding-top: 80px;
padding-bottom: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.3px);
-webkit-backdrop-filter: blur(5.3px);
border: 1px solid rgba(255, 255, 255, 0.29);
width: 80%;
margin: 0 auto;
margin-bottom: 60px;
}





.centerImg {
  font-size:0;
  margin-bottom:15px;
  text-align:center;
  }
  .centerImg > * {
  width:49%;
  margin-bottom:100px;
  margin-left:2%;
  display:inline-block;
  font-size:25px;
  }
  .centerImg > *:nth-child(2n + 1) {
  margin-left:0;
  }
  .centerImg img {
  max-width:63%;
  }



  /*--------------------------------------------------
footer
--------------------------------------------------*/
.footer04 {
  color: #808080;
  background: linear-gradient(270deg,  rgba(30, 34, 34, 0.589) 100%, rgba(30, 34, 34, 0.589) 100%),
  url(https://richfieldsplastics.com/wp-content/uploads/2020/01/Plastic-Utensils-and-Kitchenware-768x512.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 30px;
 }
 .footer04 a {
  color: #ffffff;
  text-decoration: none;
  
 }
 .footer04 a:hover {
  text-decoration: underline;
 }
 .footer04 .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 .footer04 .menu li {
  margin: 0;
  padding: 0 20px;

   /*コレ*/display: flex;
    /*コレ*/align-items: center;
  
 }
 .footer04 .menu li:last-child {
  border: none;
 }
 .footer04 .copyright {
  margin: 0;
  padding: 20px 0 0 0;
 }
 
 @media only screen and (max-width: 599px) {
 .footer04 .menu {
  justify-content: flex-start;
 }
 .footer04 .menu li {
  width: 50%;
  box-sizing: border-box;
  border: none;
 }
 .footer04 .menu li:nth-child(odd) {
  border-right: 1px #ffffff solid;
 }
 }
 #footer-info-ph{
  width: 10px;
}
#tizu {
  margin-left: 80px;
  margin-top: 30px;

}
#zyusyo {
  color: #ffffff;
  text-align: left;
}

.footer04 .copyright{
  color: #ffffff;
}

#rogo img{
  width: 350px;
    /*コレ*/display: flex;
    /*コレ*/align-items: center;
  
}
#rpgo{
  padding-right: 0;
}



