@charset "UTF-8";

/*=============
.bg_pattern
==============*/

.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: -1;
}
.Paper_v2 {
  background-image:
    repeating-linear-gradient(to bottom,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),

    repeating-linear-gradient(to right,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
}



.zya {
  background-color: #f1e7e0;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-bottom: 100px;
}

.zya h2{
  padding-top: 50px;
    margin-bottom: 0.8rem;
    border-bottom: 3px solid #000000;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    width: 300px;
    margin: auto;
}

.out{
  position: relative;
}
.in img{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .5s;
  z-index: 0;

  
}
img{
  display: block;
  width: 100%;
  height: 1000px;
}
input{
  display: none;
}
.in{
  display: flex;
  justify-content: center;
}
label span{
  display: block;
  width: 15px;
  height: 15px;
  padding: 7px;
  margin: -40px 0 0;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
label span::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.5;
  border-radius: 100%;

}            
input:nth-of-type(1):checked ~ .in label:nth-of-type(1) span::before,
input:nth-of-type(2):checked ~ .in label:nth-of-type(2) span::before,
input:nth-of-type(3):checked ~ .in label:nth-of-type(3) span::before,
input:nth-of-type(4):checked ~ .in label:nth-of-type(4) span::before{
  background: #000;
  opacity: 1;
}
label span::before{
  animation: slidebutton 14s infinite;
}
@keyframes slidebutton{
  0%{opacity: 0.5;background: #4287f5;}
  3.5%{opacity: 1;background: #000;}/* b÷x×100=y */
  25%{opacity: 1;background: #000;}/* 100÷c=z */
  28.5%{opacity: 0.5;background: #4287f5;}/* y+z */
}            
label:nth-of-type(2) span::before,label:nth-of-type(2) img{
  animation-delay: 3.5s;
}            
label:nth-of-type(3) span::before,label:nth-of-type(3) img{
  animation-delay: 7s;
}            
label:nth-of-type(4) span::before,label:nth-of-type(4) img{
  animation-delay: 10.5s;
}            
input:nth-of-type(1):checked ~ .in label:nth-of-type(1) img,
input:nth-of-type(2):checked ~ .in label:nth-of-type(2) img,
input:nth-of-type(3):checked ~ .in label:nth-of-type(3) img,
input:nth-of-type(4):checked ~ .in label:nth-of-type(4) img{
  opacity: 1;
  z-index: 1;
}
.in img{
  animation: slide 14s infinite;/* (a+b)×c=x */
  opacity: 0;
}
@keyframes slide{
  0%{opacity: 0;}
  3.5%{opacity: 1;z-index: 1;}/* b÷x×100=y */
  25%{opacity: 1;}/* 100÷c=z */
  28.5%{opacity: 0;z-index: 0;}/* y+z */
}
input:checked ~ .in img,input:checked ~ .in span::before{
  animation: none;
}
.in:hover img,.in:hover span::before{
  animation-play-state:paused;/* マウスを載せると一時停止 */
}


.top-right img {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

/* ヘッダー */
nav{
  border-bottom: 1px solid #ccc;
  }
  nav ul{
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  }
  nav ul li{
  display: table-cell;
  min-width: 50px;
  border-right: 1px solid #ccc;
  }
  nav ul li:first-child{
  border-left: 1px solid #ccc;
  }
  nav ul li a{
  display: block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: rgb(0, 0, 0);
  }
  nav ul li a:hover{
  background-color:#fd7200;
  border-bottom: 5px solid #fd7200;
  }
  nav ul li.current{
  font-weight: bold;
  }
  nav ul li.current a{
  border-bottom: 5px solid #00B0F0;
  color: #00B0F0;
  }

h3{
   font-size: 20px;
  }

  /* ヘッダー ここまで*/

  h2 {
    padding-top: 150px;
    margin-bottom: 0.8rem;
    border-bottom: 3px solid #000000;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    width: 300px;
    margin: auto;
}

.go {
  text-align: center;
}

.go img{
  width: 8%;
  height: 5%;
  margin: 0 auto;
  margin-bottom: 180px;
}

.imgzya img{
  width: 380px;
   padding: 3px;
   margin: 0 auto;
   height: 420px;
 }
 .imgzya{
   text-align: center;
   display: flex;
   margin: 0 auto;
 }
 
 .element {
  /* 最初は非表示 */
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
/* フェードイン時に入るクラス */
.is-fadein {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}




.centerImg {
  font-size:0;
  margin-bottom:15px;
  text-align:center;
  }
  .centerImg > * {
  width:49%;
  margin-bottom:15px;
  margin-left:2%;
  display:inline-block;
  font-size:12px;
  }
  .centerImg > *:nth-child(2n + 1) {
  margin-left:0;
  }
  .centerImg img {
  max-width:100%;
  width: 600px;
  height: 300px;
    margin: 0 auto;
  }
 




div.box{
  background: rgba(230, 223, 223, 0.753);
border-radius: 16px;
padding-top: 80px;
padding-bottom: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.3px);
-webkit-backdrop-filter: blur(5.3px);
border: 1px solid rgba(255, 255, 255, 0.29);
width: 80%;
margin: 0 auto;
margin-bottom: 60px;
}




.centerImg2 {
  font-size:0;
  margin-bottom:15px;
  text-align:center;
  }
  .centerImg2 > * {
  width:49%;
  margin-bottom:15px;
  margin-left:2%;
  display:inline-block;
  font-size:12px;
  }
  .centerImg2 > *:nth-child(2n + 1) {
  margin-left:0;
  }
  .centerImg2 img {
  max-width:100%;
  width: 600px;
  height  : 300px;
 
  }



  .tenpo{
    display: flex;
    position: relative;
    margin-bottom: 250px;
    
  }
 
  .wasyoku img{
    width: 800px;
    height: 1050px;
    display: block;

  }
/* 和食 */
.centerImg3 p{
  font-size: 20px;
}
  .centerImg3 {
    font-size:0;
    margin-bottom:15px;
    text-align:center;
    margin-top: 300px;
    margin-left: 80px;
    }
    .centerImg3 > * {
    width:49%;
    margin-bottom:20px;
    margin-left:2%;
    display:inline-block;
    font-size:12px;
    }
    .centerImg3 > *:nth-child(2n + 1) {
    margin-left:0;
    }
    .centerImg3 img {
    max-width:100%;
    width: 450px;
    height  : 225px;
    }


    /* 洋食 */
    .centerImg4 p{
      font-size: 20px;
    }
    .centerImg4 {
      font-size:0;
      margin-bottom:15px;
      text-align:center;
      margin-top: 160px;
      margin-left: 80px;
      }
      .centerImg4 > * {
      width:49%;
      margin-bottom:20px;
      margin-left:2%;
      display:inline-block;
      font-size:12px;
      }
      .centerImg4 > *:nth-child(2n + 1) {
      margin-left:0;
      }
      .centerImg4 img {
      max-width:100%;
      width: 450px;
      height  : 225px;
     
      }

/* 韓国料理 */
      .centerImg5 p{
        font-size: 20px;
      }
      .centerImg5 {
        font-size:0;
        margin-bottom:15px;
        text-align:center;
        margin-top: 380px;
        margin-left: 80px;
        }
        .centerImg5 > * {
        width:49%;
        margin-bottom:20px;
        margin-left:2%;
        display:inline-block;
        font-size:12px;
        }
        .centerImg5 > *:nth-child(2n + 1) {
        margin-left:0;
        }
        .centerImg5 img {
        max-width:100%;
        width: 850px;
        height  : 225px;
        }


        /* 中華料理　スイーツ */
        .centerImg6 p{
          font-size: 20px;
        }
        .centerImg6 {
          font-size:0;
          margin-bottom:15px;
          text-align:center;
          margin-top: 320px;
          margin-left: 80px;
          }
          .centerImg6 > * {
          width:49%;
          margin-bottom:100px;
          margin-left:2%;
          display:inline-block;
          font-size:12px;
          }
         
          .centerImg6 img {
          max-width:100%;
          width: 850px;
          height  : 225px;
          }
  





   .wasyoku p{
      position: absolute;
      top:0;
      left:0;
      font-size:30px;
      color: rgb(255, 255, 255);
      padding:0;
      margin:0;
      margin-top: 100px;
      margin-left: 100px;
    }
    .wasyoku span{
      color: rgb(87, 87, 87);
    }

/* 右から */

.fadeRight{
  animation-name:fadeRightAnime;
  animation-duration:1.0s;
  animation-fill-mode:forwards;
  opacity:0;
 
  }
  
  @keyframes fadeRightAnime{
    from {
      opacity: 0;
    transform: translateX(30px);
    }
  
    to {
      opacity: 1;
    transform: translateX(0);
    }
  }


  hr {
    border-top: 1px solid #ccc;
    height: 1em;
    text-align: center;
    overflow: visible;
    margin-bottom: 200px;
  }
  hr::after {
    content: "Menu";

    color: #ccc;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    top: -1em;
    padding: 0 1em;
  }