@charset "UTF-8";

html{
    font-size: 100%;
}
body{
    color:#454038;
    font-size: 0.9rem;
}
a{
    text-decoration:none;
}
img{
    max-width:100%
}
img{
    object-fit: cover;
    width: 250px;
  height: 250px;
}
li{
    list-style:none;
}
.site-title{
    width:120px;
    line-height: 1px;
    padding: 10px 0;
    font-size: 2rem;
}
.site-title a{
    display:block;
}
.section-title{
    display: inline-block;
    font-size:2rem;
    text-align: center;
    margin-bottom:60px;
    border-bottom: solid 1px #383e45;
    position: relative;
    padding: 1rem .5rem;
    }
.content-title{
    font-size: 1.5rem;
    margin:2px 0;
}
.wrapper{
    max-width:1920px;
    margin:0; 
    padding:0 4%;
    text-align:center;
}
/*--------------------------------------------------
ヘッダー  auto 100px auto
--------------------------------------------------*/
#header{
    display: flex;
    height: 90px;
    background-color: dimgray;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
    border: double 5px ;
    padding-top: 5px;
    box-sizing: border-box;
    justify-content:space-between;
    align-items: center;
    margin:0 auto;
    margin-left: -500%;
	margin-right: -500%;
	padding-left: 500%;
	padding-right: 500%;
    position: fixed;
    
}
#header ul{
    display: flex;
    padding:01px 0;
}
#header li{
    list-style: none;
    font-family: "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
    font-weight: bold;

    
}
#header li a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
   /*--------------------------------------------------
   margin-right: 35px;
　　--------------------------------------------------*/ 
    margin-right: 90px; 
    margin-left: 100px;   
    white-space: nowrap
}
#header li a:hover{
    opacity: 0.7;
}

/*--------------------------------------------------
Minvisual
--------------------------------------------------*/
#mainvisual{
    margin-bottom:80px;
}
#mainvisual img{
    width:100%;
    max-width:1920px;
    height:800px;
    object-fit:contain;
}



/*----------#----------------------------------------
About  background: #fdb1e0; /*背景色
padding: 0.5em;/*文字周りの余白*
color: rgb(0, 0, 0);/*文字を白に*
border-radius: 0.5em;/*角の丸み*
--------------------------------------------------*/
#about.wrapper{
	align-content: center		
}



#about .section-title {
    text-align: center;
}

#about .content{
    display:inline-block; 
    justify-content: center;
    align-items: center;
	width: 1700px;
	height: 300px;
	max-width: 1920px;
	text-emphasis: center;
        background: #ffddb0; /*背景色*/
        padding: 0.5em;/*文字周りの余白*/
        color: rgb(0, 0, 0);/*文字を白に*/
        border-radius: 0.5em;/*角の丸み*/
        object-fit: contain;
        margin-bottom: 50px;
      }

#about img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-right: 30px;
}
#about .text{
    text-align: center;
}
#about ul{
    display:flex;
    justify-content:space-around;
	margin-top: 30px;
	margin-bottom: 30px;
    
}
#about li{
    width:100%;
    margin-right: 30px; 
    margin-left: 30px;   
    white-space: nowrap
}
#about h2{
    font-size: 3.4rem;
    font-style: italic;
    letter-spacing: .1em;
    color: rgb(250, 120, 120);
    text-shadow: -3px 2px 0 #000;
}

/*--------------------------------------------------
Menu
--------------------------------------------------*/
#menu ul{
   
    display:flex;
    justify-content:space-between;
}
#menu li{
    width:100%;
}
#menu img{
    width: 500px;
    height: 400px;
    border-radius: 0px;
    margin-right: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    object-fit: contain;
    
}
#menu h2{
    font-size: 3.4rem;
    font-style: italic;
    letter-spacing: .1em;
    color: rgb(250, 120, 120);
    text-shadow: -3px 2px 0 #000;
}
#menu h3{
    position: relative;
    padding: 0.3em;
    margin-bottom: 1px;
}

#menu h3::after{
    content: '';
    position: relative;
    left: 300px;
    bottom: 0;
    width: 250px;
    height: 7px;
    line-height: 7px;
    background: repeating-linear-gradient(-45deg,skyblue,skyblue 2px, white 2px,white 4px);/*ボーダーライン*/
}
#menu h4{
    content: '';
    position: absolute;
    right: 700px;
    bottom: 0;
    width: 250px;
    height: 7px;
    line-height: 7px;
    text-align: center;
    position: relative;
    padding: 1.5rem 2rem;
    margin-top: 10px;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    border-radius: 0 0 0 20px;
}
      
#menu h4:before {
    position: absolute;
    right: 50px;
    bottom: -21px;
    width: 0;
    height: 0;
    content: '';
    border-width: 21px 21px 0 0;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}
      
#menu h4:after {
    position: absolute;
    right: 54px;
    bottom: -14px;
    width: 0;
    height: 0;
    content: '';
    border-width: 14px 14px 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
 }

 /* -----------------------------------------------
ボタン全体
#btn{
    width: 100px;
    height: 100px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #e25407;
    border-radius: 50%;
    opacity: 0.6;
    }
  
    /* Font Awesome *
    #btn {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f102';
        font-size: 50px;
        color: #ffffff;
        position: absolute;
        width: 40px;
        height: 55px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
      }
      /* マウスオーバー時 *
    #btn:hover {
      background: rgb(255, 0, 0, 0.8);
      /* color: rgb(255, 255, 255, 0.8) *
    }/
 -------------------------------------------------*/

/*--------------------------------------------------
footer
--------------------------------------------------*/
#footer{
    font-size:1rem;
    padding:20px 0;
    text-align: center;
    background: #383e45;
    color: #fff;
}
#footer-info-ph{
    width: 31.9148%;
}
#footer-info-data{
    width: 65.9574%;
}
#footer-info-list{
    font-size: 50px;
}

/*--------------------------------------------------
SP
--------------------------------------------------*/
@media screen and (max-width:600px){

/*--------------------------------------------------
Mainvisual
--------------------------------------------------*/
#mainvisual img{
        height: calc(100vh - 60px);
    }

/*--------------------------------------------------
About
--------------------------------------------------*/
#img .content{
    flex-direction: column;
}
#img img{
    margin-right:0;

}

/*--------------------------------------------------
Menu
--------------------------------------------------*/
#manu ul{
    flex-direction: column;
}
#manu li{
    width:100%;
    margin-bottom:50px;
}
}
