@charset "UTF-8";

html{
    font-size: 100%;
}
body{
    color:#a30412;
    font-size: 0.9rem;
}
a{
    text-decoration:none;
}
img{
    max-width:100%
}
img{
    object-fit: cover;
    width: 200px;
  height: 150px;
}
li{
    list-style:none;
}
.site-title{
    width:120px;
    line-height: 1px;
    padding: 10px 0;
}
.site-title a{
    display:block;
}
.section-title{
    display: inline-block;
    font-size:2rem;
    text-align: center;
    margin-bottom:60px;
    border-bottom: solid 1px #383e45;
}
.content-title{
    font-size: 1rem;
    margin:10px 0;
}
.wrapper{
    max-width:960px;
    margin:0 auto 100px auto;
    padding:0 4%;
    text-align:center;
}

/*--------------------------------------------------
ヘッダー
--------------------------------------------------*/
#header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:0 auto;
}
#header ul{
    display: flex;
    padding:01px 0;
}
#header li{
    margin-left:30px;
}
#header li a{
    color:#24292e;
}
#header li a:hover{
    opacity: 0.7;
}

/*--------------------------------------------------
Minvisual
--------------------------------------------------*/
#mainvisual{
    margin-bottom:80px;
}
#mainvisual img{
    width:100%;
    max-width:1920px;
    height:700px;
    object-fit:cover;
}

/*--------------------------------------------------
About
--------------------------------------------------*/
#about .content{
    display:flex;
    justify-content: center;
    align-items: center;
}
#about img{
    width:100px;
    height:100px;
    border-radius:50%;
    margin-right:30px;
}
#about .text{
    text-align: center;
}

/*--------------------------------------------------
Menu
--------------------------------------------------*/
#bicycle ul{
    display:flex;
    justify-content:space-between;
}
#bicycle li{
    width:32%;
}

/*--------------------------------------------------
footer
--------------------------------------------------*/
#footer{
    font-size:0.5rem;
    padding:10px 0;
    text-align: center;
}

/*--------------------------------------------------
SP
--------------------------------------------------*/
@media screen and (max-width:600px){

/*--------------------------------------------------
Mainvisual
--------------------------------------------------*/
#mainvisual img{
        height: calc(100vh - 60px);
    }

/*--------------------------------------------------
About
--------------------------------------------------*/
#about .content{
    flex-direction: column;
}
#about img{
    margin-right:0;
}

/*--------------------------------------------------
Menu
--------------------------------------------------*/
#bicycle ul{
    flex-direction: column;
}
#bicycle li{
    width:100%;
    margin-bottom:30px;
}
}

/*--------------------------------------------------
cart
--------------------------------------------------*/
table {
    margin: 10px;
    padding: 10px;
    border-collapse: collapse;
    border: 2px solid dodgerblue;
  }
  table tr:nth-child(even) {
    background: whitesmoke;
  }
  table tr:nth-child(odd) {
    background: lightcyan;
  }
  table tr th,td {
    border: 1px solid dodgerblue;
    padding: 2px 10px;
    text-align: center;
  }
  table .right{
    text-align: right;
  }
  .btnright{
    text-align: right;
    margin: 10px 20px;
  }
  .txtbox{
    display: inline-block;
    margin: 5px;
  }
  .btnbox{
    text-align: center;
    margin: 10px 0;
  }
  .btn1{
    color: honeydew;
    font-size: 16px;
    background: gray;
    border-radius: 30px 0 0 30px;
    padding: 6px 20px;
    margin: 5px;
  }
  .btn2{
    color: honeydew;
    font-size: 16px;
    background: dodgerblue;
    border-radius: 0 30px 30px 0;
    padding: 6px 20px;
    margin: 5px;
  }
  .btn3{
    color: darkgreen;
    font-size: 16px;
    background: honeydew;
    border-radius: 30px;
    padding: 6px 12px;
    margin: 5px;
  }
  .btnr{
    color: crimson;
    font-size: 16px;
    background: lavenderblush;
    border-radius: 30px;
    border: 3px solid crimson;
    padding: 6px 12px;
    font-weight: bold;
    margin: 5px;
  }
  ul.cartflow {
    padding:10px;
    background:palegoldenrod;
    border:1px solid silver;
    margin: 10px auto;
    display:inline-block;
  }
  ul.cartflow li{
    background: darkgray;
    border-radius: 0 30% 30% 0 / 0 50% 50% 0;
    padding: 5px 15px 5px 10px;
    width:80px;
    display:inline-block;
    text-align: center;
    margin: 0;
  }
  ul li.choice{
    background: tomato;
    border:3px solid maroon;
    font-weight: bold;
  }