@charset "UTF-8";

html{
    font-size: 100%;
}
body{
    color:#a50052;
    font-size: 0.9rem;
}
a{
    text-decoration:none;
}
img{
    max-width:100%
}
img{
    object-fit: cover;
    width: 200px;
  height: 150px;
}
li{
    list-style:none;
}
.site-title{
    width:120px;
    line-height: 1px;
    padding: 10px 0;
}
.site-title a{
    display:block;
}
.section-title{
    display: inline-block;
    font-size:2rem;
    text-align: center;
    margin-bottom:60px;
    border-bottom: solid 1px #383e45;
}
.content-title{
    font-size: 1rem;
    margin:10px 0;
}
.wrapper{
    max-width:960px;
    margin:0 auto 100px auto;
    padding:0 4%;
    text-align:center;
}

/*--------------------------------------------------
ヘッダー
--------------------------------------------------*/
#header{
    display: flex;
    height: 90px;
    background-color: dimgray;
    border: double 5px ;
    padding-top: 5px;
    box-sizing: border-box;
    justify-content:space-between;
    align-items: center;
    margin:0 auto;
	justify-content: center;

}
#header ul{
    display: flex;
    padding:01px 0;
}
#header li{
    list-style: none;
    font-family: "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
    font-weight: bold;
	font-size: 0.9rem; 
}
#header li a{
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;

    
}
#header li a:hover{
    opacity: 0.7;
}
.gourmmy{
	font-family: Gourmmy;
	text-align: left;
	float: left;
	margin-right: 81px;
}

.midasi {
	font-family: お問い合わせ;
	font-size: 50px;
	text-align: center;

	}


/*--------------------------------------------------
Minvisual
--------------------------------------------------*/
#mainvisual{
    margin-bottom:80px;
}
#mainvisual img{
    width:100%;
    max-width:1920px;
    height:600px;
    object-fit:cover;
}

/*--------------------------------------------------
About
--------------------------------------------------*/
#about .content{
    display:flex;
    justify-content: center;
    align-items: center;
}
#about img{
    width:100px;
    height:100px;
    border-radius:50%;
    margin-right:30px;
}
#about .text{
    text-align: center;
}
#about{
  margin: 2em 0;
  background-color: #fff4ea;
  box-shadow: 0 0 0 8px #fff4ea;
  border: 2px dashed #ffbf7f;
  border-radius: 100px;
  color: #000000;
  margin-bottom: 80px;
  text-align: center;
}
#about.circle4 {
  display: inline-block;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background: #ff9933;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 80px;
  margin-left: 30px;
  margin-top: 20px;

  
}
#about.circle4 > .circle-txt1 {
  display: block;
  width: 100%;
  font-size: 50px;
  color: #ffff99;
  line-height: 2;
}
#about.circle4 > .circle-txt2 {
  display: block;
  width: 100%;
  font-size: 20px;
  margin-top: 1px;
}
#about.kakomi-box {
 margin: 2em auto;
 padding: 1em;
 width:  100%;
 border: 5px double;
 border-radius: 50px;
}


/*--------------------------------------------------
Menu
--------------------------------------------------*/
#bicycle ul{
    display:flex;
    justify-content:space-between;
}
#bicycle li{
    width:32%;
}

/*--------------------------------------------------
footer
--------------------------------------------------*/
#footer{
    font-size:0.5rem;
    padding:10px 0;
    text-align: center;
}

/*--------------------------------------------------
SP
--------------------------------------------------*/
@media screen and (max-width:600px){

/*--------------------------------------------------
Mainvisual
--------------------------------------------------*/
#mainvisual img{
        height: calc(100vh - 60px);
    }

/*--------------------------------------------------
About
--------------------------------------------------*/
#about .content{
    flex-direction: column;
}
#about img{
    margin-right:0;
}

/*--------------------------------------------------
Menu
--------------------------------------------------*/
#bicycle ul{
    flex-direction: column;
}
#bicycle li{
    width:100%;
    margin-bottom:30px;
}
}
