@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');





/*=============
.背景
==============*/

.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: -1;
}
.Paper_v2 {
  background-image:
    repeating-linear-gradient(to bottom,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),

    repeating-linear-gradient(to right,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
}



.zya {
  background-color: #f1e7e0;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-bottom: 100px;
}

.zya h2{
  padding-top: 50px;
    margin-bottom: 0.8rem;
    border-bottom: 3px solid #000000;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    width: 300px;
    margin: auto;
}

.out{
  position: relative;
}
.in img{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .5s;
  z-index: 0;

  
}
img{
  display: block;
  width: 100%;
  height: 1000px;
}
input{
  display: none;
}
.in{
  display: flex;
  justify-content: center;
}
label span{
  display: block;
  width: 15px;
  height: 15px;
  padding: 7px;
  margin: -40px 0 0;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
label span::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.5;
  border-radius: 100%;

}            
input:nth-of-type(1):checked ~ .in label:nth-of-type(1) span::before,
input:nth-of-type(2):checked ~ .in label:nth-of-type(2) span::before,
input:nth-of-type(3):checked ~ .in label:nth-of-type(3) span::before,
input:nth-of-type(4):checked ~ .in label:nth-of-type(4) span::before{
  background: #000;
  opacity: 1;
}
label span::before{
  animation: slidebutton 14s infinite;
}
@keyframes slidebutton{
  0%{opacity: 0.5;background: #4287f5;}
  3.5%{opacity: 1;background: #000;}/* b÷x×100=y */
  25%{opacity: 1;background: #000;}/* 100÷c=z */
  28.5%{opacity: 0.5;background: #4287f5;}/* y+z */
}            
label:nth-of-type(2) span::before,label:nth-of-type(2) img{
  animation-delay: 3.5s;
}            
label:nth-of-type(3) span::before,label:nth-of-type(3) img{
  animation-delay: 7s;
}            
label:nth-of-type(4) span::before,label:nth-of-type(4) img{
  animation-delay: 10.5s;
}            
input:nth-of-type(1):checked ~ .in label:nth-of-type(1) img,
input:nth-of-type(2):checked ~ .in label:nth-of-type(2) img,
input:nth-of-type(3):checked ~ .in label:nth-of-type(3) img,
input:nth-of-type(4):checked ~ .in label:nth-of-type(4) img{
  opacity: 1;
  z-index: 1;
}
.in img{
  animation: slide 14s infinite;/* (a+b)×c=x */
  opacity: 0;
}
@keyframes slide{
  0%{opacity: 0;}
  3.5%{opacity: 1;z-index: 1;}/* b÷x×100=y */
  25%{opacity: 1;}/* 100÷c=z */
  28.5%{opacity: 0;z-index: 0;}/* y+z */
}
input:checked ~ .in img,input:checked ~ .in span::before{
  animation: none;
}
.in:hover img,.in:hover span::before{
  animation-play-state:paused;/* マウスを載せると一時停止 */
}


.top-right img {
  margin: 0 auto;
  width: 60%;
  text-align: center;

}




/* ヘッダー */
/*========= ドロップダウンのためのCSS ===============*/

/*==ナビゲーション全体の設定*/
nav{
  background:rgb(52, 73, 59);
  color:#fff;
  text-align: center;

}

/*ナビゲーションを横並びに*/
nav ul{
    /*2階層目の基点にするためrelativeを指定*/
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
}

/*2階層目以降は横並びにしない*/
nav ul ul{
  display: block;
}

/*ナビゲーションのリンク設定*/
nav ul li a{
    /*矢印の基点にするためrelativeを指定*/
  position: relative;
  display: block;
  text-decoration: none;
  color: #999;
  padding:20px 45px;
  transition:all .3s;
}

nav ul li li a{
  padding:20px;
}

nav ul li a:hover{
  color:#fff; 
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/

nav ul li.has-child > a::before{
  content:'';
  position: absolute;
  left:15px;
  top:25px;
  width:6px;
  height:6px;
  border-top: 2px solid #999;
    border-right:2px solid #999;
    transform: rotate(135deg);
}

/*==2階層目以降の画像設定*/

nav ul li.has-child img{
  max-width: 100%;
  height: auto;
  transition: all .5s;
  vertical-align: bottom;
}

/*hoverしたら画像拡大*/
nav ul li.has-child img:hover{
  transform: scale(1.2);
}

nav ul li.has-child dt{
  overflow: hidden;
  height: 20vh;
  margin:0 0 20px 0;
}

@media screen and (max-width:1200px){
  nav ul li.has-child dt{
    height: 12vh;
  }
    
  }
  
  /*== 2層目の設定 */
  
  nav li.has-child ul{
    /*絶対配置で位置を指定*/
      position: absolute;
    left:5%;
    top:58px;
    z-index: 4;
    /*子要素を横並びに*/    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
      /*形状を指定*/
    background:rgba(95, 95, 95, 0.452);
    width:90%;
      /*はじめは非表示*/
    visibility: hidden;
    opacity: 0;
       /*アニメーション設定*/
    transition: all .3s;
  }
  
  /*hoverしたら表示*/
  nav li.has-child:hover > ul{
    visibility: visible;
    opacity: 1;
  }
  
  /*各ナビゲーション横幅*/
  nav li.has-child ul li{
    width:20%;
  }
  
  /*ナビゲーションaタグの形状*/
  nav li.has-child ul li a{
    color: rgb(255, 255, 255);
  }
  
  nav li.has-child ul li a:hover,
  nav li.has-child ul li a:active{
    background:#d6ca5c;
  }
/*========= レイアウトのためのCSS ===============*/

h1{
  font-size:2rem;
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  font-family: "Times New Roman",  serif;
  
}

h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

p{
  margin-top:20px;  
}

small{
  background:#333;
  color:#fff;
  display: block;
  text-align: center;
  padding:20px;
}


section{
  padding:30px;
}

section:nth-child(2n){
  background:#f3f3f3; 
}


.aka img{
  width: 500px;
  height: 1000px;
}

  /* ヘッダー ここまで*/


  h2 {
    padding-top: 150px;
    margin-bottom: 0.8rem;
    border-bottom: 3px solid #000000;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    width: 300px;
    margin: auto;
    font-family: 'Noto Serif JP', sans-serif;
}

.go {
  text-align: center;
}

.go img{
  width: 8%;
  height: 5%;
  margin: 0 auto;
  margin-bottom: 180px;
}

.go p{
  font-size: 20px;
  font-family: 'Noto Serif JP', sans-serif;
}





.centerImg {
  font-size:0;
  margin-bottom:15px;
  text-align:center;
  }
  .centerImg > * {
  width:49%;
  margin-bottom:15px;
  margin-left:2%;
  display:inline-block;
  font-size:12px;
  }
  .centerImg > *:nth-child(2n + 1) {
  margin-left:0;
  }
  .centerImg img {
  max-width:100%;
  width: 600px;
  height: 300px;
    margin: 0 auto;
  }
  


  .tenpo{
    display: flex;
    position: relative;
    margin-bottom: 200px;
 
  }
 
  .wasyoku img{
    width: 800px;
    height: 1050px;
    display: block;
    position:  relative; 
    z-index: 10;
  }
  
/* 和食 */
.centerImg3 p{
  font-size: 20px;
  font-family: 'Noto Serif JP', sans-serif;
}
  .centerImg3 {
    font-size:0;
    margin-bottom:15px;
    text-align:center;
    margin-top: 300px;
    margin-left: 80px;
    z-index: 10;
    }
    .centerImg3 > * {
    width:49%;
    margin-bottom:20px;
    margin-left:2%;
    display:inline-block;
    font-size:12px;
    }
    .centerImg3 > *:nth-child(2n + 1) {
    margin-left:0;
    }
    .centerImg3 img {
    max-width:100%;
    width: 450px;
    height  : 225px;
  
    }


    /* 洋食 */
    .centerImg4 p{
      font-size: 20px;
      font-family: 'Noto Serif JP', sans-serif;
    }
    .centerImg4 {
      font-size:0;
      margin-bottom:15px;
      text-align:center;
      margin-top: 160px;
      margin-left: 80px;
      }
      .centerImg4 > * {
      width:49%;
      margin-bottom:10px;
      margin-left:2%;
      display:inline-block;
      font-size:12px;
      }
      .centerImg4 > *:nth-child(2n + 1) {
      margin-left:0;
      }
      .centerImg4 img {
      max-width:100%;
      width: 450px;
      height  : 225px;
     
      }

/* 韓国料理 */
      .centerImg5 p{
        font-size: 20px;
        font-family: 'Noto Serif JP', sans-serif;
      }
      .centerImg5 {
        font-size:0;
        margin-bottom:15px;
        text-align:center;
        margin-top: 380px;
        margin-left: 80px;
        }
        .centerImg5 > * {
        width:49%;
        margin-bottom:20px;
        margin-left:2%;
        display:inline-block;
        font-size:12px;
        }
        .centerImg5 > *:nth-child(2n + 1) {
        margin-left:0;
        }
        .centerImg5 img {
        max-width:100%;
        width: 850px;
        height  : 225px;
        }


        /* 中華料理　スイーツ */
        .centerImg6 p{
          font-size: 20px;
          font-family: 'Noto Serif JP', sans-serif;
        }
        .centerImg6 {
          font-size:0;
          margin-bottom:15px;
          text-align:center;
          margin-top: 320px;
          margin-left: 80px;
          }
          .centerImg6 > * {
          width:49%;
          margin-bottom:8px;
          margin-left:2%;
          display:inline-block;
          font-size:12px;
          }
         
          .centerImg6 img {
          max-width:100%;
          width: 850px;
          height  : 225px;
          }
  
/* 四角 */
          .z-index_test2 {
            height:  850px;             /* 高さ指定 */
            width:  750px;              /* 幅指定 */
            background-color: #82a786;  /* 背景色指定 */
            position:  absolute;        /* 位置指定 */
            bottom: -100px;                  /* 位置指定 */
            left: 100px;                /* 位置指定 */
            z-index: 1;               /* 重なり順指定 */
          }

          .z-index_test_you {
            height:  850px;             /* 高さ指定 */
            width:  750px;              /* 幅指定 */
            background-color: #747465;  /* 背景色指定 */
            position:  absolute;        /* 位置指定 */
            bottom: -100px;                  /* 位置指定 */
            left: 100px;                /* 位置指定 */
            z-index: 1;               /* 重なり順指定 */
          }


          .z-index_test_tyu {
            height:  850px;             /* 高さ指定 */
            width:  750px;              /* 幅指定 */
            background-color: #b8614b;  /* 背景色指定 */ 
            position:  absolute;        /* 位置指定 */
            bottom: -100px;                  /* 位置指定 */
            left: 100px;                /* 位置指定 */
            z-index: 1;               /* 重なり順指定 */
          }

          .z-index_test_ka {
            height:  850px;             /* 高さ指定 */
            width:  750px;              /* 幅指定 */
            background-color: #999556;  /* 背景色指定 */
            position:  absolute;        /* 位置指定 */
            bottom: -100px;                  /* 位置指定 */
            left: 100px;                /* 位置指定 */
            z-index: 1;               /* 重なり順指定 */
          }

          .z-index_test_su {
            height:  850px;             /* 高さ指定 */
            width:  750px;              /* 幅指定 */
            background-color: #5f7c85a9;  /* 背景色指定 */
            position:  absolute;        /* 位置指定 */
            bottom: -100px;                  /* 位置指定 */
            left: 100px;                /* 位置指定 */
            z-index: 1;               /* 重なり順指定 */
          }


   .wasyoku p{
      position: absolute;
      top:0;
      left:0;
      font-size:30px;
      color: rgb(255, 255, 255);
      padding:0;
      margin:0;
      margin-top: 100px;
      margin-left: 100px;
      z-index: 11;
    }
    .wasyoku span{
      color: rgb(87, 87, 87);
    }

/* 右から */

.fadeRight{
  animation-name:fadeRightAnime;
  animation-duration:1.0s;
  animation-fill-mode:forwards;
  opacity:0;
 
  }
  
  @keyframes fadeRightAnime{
    from {
      opacity: 0;
    transform: translateX(30px);
    }
  
    to {
      opacity: 1;
    transform: translateX(0);
    }
  }


  hr {
    border-top: 1px solid #ccc;
    height: 1em;
    text-align: center;
    overflow: visible;
    margin-bottom: 200px;
  }
  hr::after {
    content: "Menu";

    color: #ccc;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    top: -1em;
    padding: 0 1em;
  }




  /*--------------------------------------------------
footer
--------------------------------------------------*/
#footer06 {
  background:rgb(52, 73, 59);
}
 
#footer06 img{
  width: 80%;
  height: 180px;
  padding-left: 320px;

}

#footer06 .cont-wrap {
  padding: 40px 0;


}
 
#footer06 .info .address {
  margin: 20px 0;
  padding-left: 20px;
  color: #ccc;
  padding-left: 400px;
}
 
#footer06 .cont .nav a {
  color: #ccc;
  padding-left: 400px;
}
 
#footer06 .cont-wrap .map {
  width: 800px;
  height: 300px;
  margin-right: 200px;
  margin-top: 80px;
}
 
#footer06 .cont-wrap .map iframe {
  width: 100%;
  height: 100%;
}
 
@media only screen and (min-width: 641px) {
  #footer06 .cont-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
 


/* pagetop */
#pagetop{
  position:fixed;
  right:10px;
  bottom:10px;
  cursor:pointer;
  z-index: 10;
}

#pagetop img{
  width: 100px;
  height: 100px;

}


/*********************************
*
*  ローディング画面
*
*********************************/
/* ローディング画面背景 */
.loader-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgb(255, 199, 114);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ローディングアニメーション */
.loader {
  color: #3b2a1e;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}





/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width:94%;
  margin:0 auto;
}

.slider img {
  width:18vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
  height:auto;
}

.slider .slick-slide {
transform: scale(0.8);/*左右の画像のサイズを80%に*/
transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
transform: scale(1);/*中央の画像のサイズだけ等倍に*/
opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
  position: absolute;/*絶対配置にする*/
  top: 42%;
  cursor: pointer;/*マウスカーソルを指マークに*/
  outline: none;/*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #666;/*矢印の色*/
  border-right: 2px solid #666;/*矢印の色*/
  height: 15px;
  width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  text-align:center;
margin:20px 0 0 0;
}

.slick-dots li {
  display:inline-block;
margin:0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width:8px;/*ドットボタンのサイズ*/
  height:8px;/*ドットボタンのサイズ*/
  display:block;
  border-radius:50%;
  background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
  background:#333;/*ドットボタンの現在地表示の色*/
}


/*========= レイアウトのためのCSS ===============*/












/*==480px以下の形状*/

@media screen and (max-width:480px){
 /* body{
    width: 480px;
  }
  */
  .bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 300vw;
    height: 900vh;
    background-color: #fff;
    z-index: -1;
  }
  
  /*==ナビゲーション全体の設定*/
 nav{
   background:rgb(52, 73, 59);
   width: 1200px;
   color:#fff;
   text-align: center;
 
 }
 
 
 /*ナビゲーションを横並びに*/
 nav ul{
     /*2階層目の基点にするためrelativeを指定*/
   position: relative;
   list-style: none;
   display: flex;
   justify-content: center;
 }
 
 /*2階層目以降は横並びにしない*/
 nav ul ul{
   display: block;
 }
 
 /*ナビゲーションのリンク設定*/
 nav ul li a{
     /*矢印の基点にするためrelativeを指定*/
   position: relative;
   display: block;
   text-decoration: none;
   color: #999;
   padding:20px 45px;
   transition:all .3s;
 }
 
 nav ul li li a{
   padding:20px;
 }
 
 nav ul li a:hover{
   color:#fff; 
 }
 
 /*==矢印の設定*/
 
 /*2階層目を持つliの矢印の設定*/
 
 nav ul li.has-child > a::before{
   content:'';
   position: absolute;
   left:15px;
   top:25px;
   width:6px;
   height:6px;
   border-top: 2px solid #999;
     border-right:2px solid #999;
     transform: rotate(135deg);
 }
 
 /*==2階層目以降の画像設定*/
 
 nav ul li.has-child img{
   max-width: 500px;
   height: 60px;
   transition: all .5s;
   vertical-align: bottom;
 }
 
 /*hoverしたら画像拡大*/
 nav ul li.has-child img:hover{
   transform: scale(1.2);
 }
 
 nav ul li.has-child dt{
   overflow: hidden;
   height: 20vh;
   margin:0 0 20px 0;
 }
 
 @media screen and (max-width:1200px){
 nav ul li.has-child dt{
   height: 12vh;
 }
   
 }
 
 /*== 2層目の設定 */
 
 nav li.has-child ul{
   /*絶対配置で位置を指定*/
     position: absolute;
   left:5%;
   top:58px;
   z-index: 4;
   /*子要素を横並びに*/    
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
     /*形状を指定*/
   background:rgba(255, 255, 255, 0.452);
   width:90%;
     /*はじめは非表示*/
   visibility: hidden;
   opacity: 0;
      /*アニメーション設定*/
   transition: all .3s;
 }
 
 /*hoverしたら表示*/
 nav li.has-child:hover > ul{
   visibility: visible;
   opacity: 1;
 }
 
 /*各ナビゲーション横幅*/
 nav li.has-child ul li{
   width:20%;
 }
 
 /*ナビゲーションaタグの形状*/
 nav li.has-child ul li a{
   color: rgb(255, 255, 255);
 }
 
 nav li.has-child ul li a:hover,
 nav li.has-child ul li a:active{
   background:#d6ca5c;
 }
 h1{
   margin-left: 450px;
   font-size:2rem;
   text-align: center;
   text-transform: uppercase;
   padding: 20px;
   background-color: rgb(255, 255, 255);
   width: 1200px;
   margin: 0  auto;
 }

.out img{ 
  width: 1200px;
}

h2 {
  padding-top: 150px;
  margin-bottom: 0.8rem;
  border-bottom: 3px solid #000000;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  width: 300px;
  margin:0 auto;
}

.te {
  width: 1200px;
}

.go {
text-align: center;
margin: 0 auto;
display:  inline-block; 
}
.go div{
  width: 1200px;
}
.go img{
  width: 80%;
  height: 250px;
  text-align: center;
}

.go p{
font-size: 20px;
margin: 0 auto;
width: 880px;
}

.wasyoku p{
  position: absolute;
  top:0;
  left:0;
  font-size:30px;
  color: rgb(255, 255, 255);
  padding:0;
  margin:0;
  margin-top: 50px;
  margin-left: 100px;
  z-index: 11;
}
.wasyoku span{
  color: rgb(87, 87, 87);
  margin-left: -100px;
}


  .tenpo{
    display: flex;
    margin-bottom: 200px;
 
  }
 
  .wasyoku img{
    width: 600px;
    height: 925px;
    display: block;
    position:  relative; 
    z-index: 10;
  }

  /* 四角 */
  .z-index_test2 {
    height:  800px;             /* 高さ指定 */
    width:  600px;              /* 幅指定 */
    background-color: #82a786;  /* 背景色指定 */
    position:  absolute;        /* 位置指定 */
    bottom: 10px;
    top:200px;                  /* 位置指定 */
    left: 50px;                /* 位置指定 */
    z-index: 1;               /* 重なり順指定 */
  }

  .z-index_test_you {
    height:  800px;             /* 高さ指定 */
    width:  600px;             /* 幅指定 */
    background-color: #747465;  /* 背景色指定 */
    position:  absolute;        /* 位置指定 */
    bottom: 10px;
    top:200px;                  /* 位置指定 */
    left: 50px;                /* 位置指定 */
    z-index: 1;               /* 重なり順指定 */
  }


  .z-index_test_tyu {
    height:  800px;             /* 高さ指定 */
    width:  600px;             /* 幅指定 */
    background-color: #b8614b;  /* 背景色指定 */ 
    position:  absolute;        /* 位置指定 */
    bottom: 10px;
    top:200px;                  /* 位置指定 */
    left: 50px;                /* 位置指定 */
    z-index: 1;               /* 重なり順指定 */
  }

  .z-index_test_ka {
    height:  800px;             /* 高さ指定 */
    width:  600px;             /* 幅指定 */
    background-color: #999556;  /* 背景色指定 */
    position:  absolute;        /* 位置指定 */
    bottom: 10px;
    top:200px;                  /* 位置指定 */
    left: 50px;                /* 位置指定 */
    z-index: 1;               /* 重なり順指定 */
  }

  .z-index_test_su {
    height:  800px;             /* 高さ指定 */
    width:  600px;             /* 幅指定 */
    background-color: #5f7c85a9;  /* 背景色指定 */
    position:  absolute;        /* 位置指定 */
    bottom: 10px;
    top:200px;                  /* 位置指定 */
    left: 50px;                /* 位置指定 */
    z-index: 1;               /* 重なり順指定 */
  }

  
/* 和食 */
.centerImg3 p{
  font-size: 20px;
  font-family: 'Noto Serif JP', sans-serif;
  margin-top: 2px;
}
  .centerImg3 {
    font-size:0;
    margin-bottom:15px;
    text-align:center;
    margin-top: 300px;
    margin-left: 150px;
    z-index: 10;
    }
    .centerImg3 > * {
    width:100%;
    margin-bottom:20px;
    margin-left:2%;
    display:inline-block;
    font-size:12px;
    }
    .centerImg3 > *:nth-child(2n + 1) {
    margin-left:0;
    }
    .centerImg3 img {
      max-width: 100%;
      width: 300px;
      height  : 100px;
  
    }

.centerImg3 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

/* 洋食 */
.centerImg4 p{
  font-size: 20px;
  font-family: 'Noto Serif JP', sans-serif;
  margin-top: 2px;
}
  .centerImg4 {
    font-size:0;
    margin-bottom:15px;
    text-align:center;
    margin-top: 180px;
    margin-left: 150px;
    z-index: 10;
    }
    .centerImg4 > * {
    width:100%;
    margin-bottom:20px;
    margin-left:2%;
    display:inline-block;
    font-size:12px;
    }
    .centerImg4 > *:nth-child(2n + 1) {
    margin-left:0;
    }
    .centerImg4 img {
    max-width: 100%;
    width: 300px;
    height  : 100px;
  
    }

  .centerImg4 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  }


/* 韓国料理 */
  .centerImg5 p{
    font-size: 20px;
    font-family: 'Noto Serif JP', sans-serif;
    margin-top: 2px;
  }
  .centerImg5 {
    font-size:0;
    margin-bottom:15px;
    text-align:center;
    margin-top: 420px;
    margin-left: 150px;
    z-index: 10;
    }
    .centerImg5 > * {
    width:100%;
    margin-bottom:20px;
    margin-left:2%;
    display:inline-block;
    font-size:12px;
    }
    .centerImg5 > *:nth-child(2n + 1) {
    margin-left:0;
    }
    .centerImg5 img {
      max-width: 100%;
      width: 300px;
      height  : 100px;
    }
    .centerImg5 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      }
    


    /* 中華料理　スイーツ */
    .centerImg6 p{
      font-size: 20px;
      font-family: 'Noto Serif JP', sans-serif;
      margin-top: 2px;
    }
    .centerImg6 {
      font-size:0;
    margin-bottom:15px;
    text-align:center;
    margin-top: 350px;
    margin-left: 150px;
    z-index: 10;
      }
      .centerImg6 > * {
      width:100%;
      margin-bottom:20px;
      margin-left:2%;
      display:inline-block;
      font-size:12px;
      }
      .centerImg6 > *:nth-child(2n + 1) {
        margin-left:0;
      }
      .centerImg6 img {
        max-width: 100%;
        width: 300px;
        height  : 100px;
      }
      .centerImg6 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        }
      
  
/*--------------------------------------------------
footer
--------------------------------------------------*/
/*--------------------------------------------------
#footer06 {
  background:rgb(52, 73, 59);
  width: 1200px;
  height: 500px;
}
 
#footer06 img{
  padding: 0;
  width: 400px;
  margin-left: 140px;
}

.cont img{
  width: 800px;
}

#footer06 .cont-wrap {
  padding-bottom: 0;
  height: 500px;
}
 
#footer06 .info .address {
  padding-left: 500px;
  color: #ccc;
  padding-left: 200px;
}
 
#footer06 .cont .nav a {
  color: #ccc;
  padding-left: 200px;
  font-size: 5px;
}
 

#footer06 .cont-wrap .map {
  width: 550px;
  margin-left: 550px;
  height: 280px;
  margin-top: 0;
  
}
 
.copyright{
  margin-top: 0;
}

#footer06 .cont-wrap .map iframe {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  padding-bottom: 50px;
}
 
#footer06 .iframe{
  margin-top: 0;
}

.cont{
  height: 200px;
}

.copyright p{
  margin: 0;
}
--------------------------------------------------*/
#footer06 {
  background:rgb(52, 73, 59);
  width: 1200px;
  height: 1200px;
}
#footer06 .cont-wrap {
  padding: 30px 0;
}

#footer06 img{
  padding: 0;
  width: 520px;
  margin-left: 90px;
}

#footer06 .nav {
  width: calc(100% + 40px);
  margin-left: -20px;
}
#footer06 .nav li {
  border-top: 1px solid #555;
}
#footer06 .nav li:last-child {
  border-bottom: 1px solid #555555;
}
#footer06 .nav li a {
  display: block;
  padding: 12px 20px;

}
#footer06 .cont-wrap .map {
  margin-top: 30px;
  width: 950px;
  height: 350px;
  margin: 0 auto;
  margin-top: 15px;
}
 
#footer06 .info .address {
  padding-left: 500px;
  color: #ccc;
  padding-left: 180px;
  font-size: 35px;
}
#footer06 .cont .nav a {
  color: #ccc;
  padding-left: 180px;
  font-size: 35px;
}
.copyright p{
  margin: 0;
}
.copyright{
  margin-top: 0;
}

/* ローディング画面背景 */
.loader-bg {
  width: 350vw;
  height: 450vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgb(255, 199, 114);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ローディングアニメーション */
.loader {
  color: #3b2a1e;
  font-size: 200px;
  text-indent: -9999em;
  overflow: hidden;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}


 }